﻿/*Css for Project*/
@font-face {
  font-family: 'dfp_icons';
  src:  url('fonts/web-asserts.eot');
  src:  url('fonts/web-asserts.eot?#iefix') format('embedded-opentype'),
    url('fonts/web-asserts.ttf') format('truetype'),
    url('fonts/web-asserts.woff') format('woff'),
    url('fonts/web-asserts.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dfp_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-settings:before {
  content: "\e900";
}
.icon-app:before {
  content: "\e901";
}
.icon-aws:before {
  content: "\e902";
}
.icon-azure:before {
  content: "\e903";
}
.icon-bugzilla:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-ce:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-cloud:before {
  content: "\e908";
}
.icon-create:before {
  content: "\e909";
}
.icon-dashboard:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-folder:before {
  content: "\e90d";
}
.icon-gcp:before {
  content: "\e90e";
}
.icon-github:before {
  content: "\e90f";
}
.icon-graph .path1:before {
  content: "\e910";
  color: rgb(246, 249, 250);
}
.icon-graph .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(89, 122, 150);
}
.icon-group:before {
  content: "\e912";
}
.icon-jenkins:before {
  content: "\e913";
}
.icon-jira:before {
  content: "\e914";
}
.icon-notification:before {
  content: "\e915";
}
.icon-openstack .path1:before {
  content: "\e916";
  color: rgb(18, 170, 235);
  opacity: 0.98;
}
.icon-openstack .path2:before {
  content: "\e917";
  margin-left: -1.1630859375em;
  color: rgb(18, 170, 235);
  opacity: 0.98;
}
.icon-openstack .path3:before {
  content: "\e918";
  margin-left: -1.1630859375em;
  color: rgb(18, 170, 235);
  opacity: 0.98;
}
.icon-openstack .path4:before {
  content: "\e919";
  margin-left: -1.1630859375em;
  color: rgb(18, 170, 235);
  opacity: 0.98;
}
.icon-openstack .path5:before {
  content: "\e91a";
  margin-left: -1.1630859375em;
  color: rgb(18, 170, 235);
}
.icon-openstack .path6:before {
  content: "\e91b";
  margin-left: -1.1630859375em;
  color: rgb(18, 170, 235);
}
.icon-right:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-talk:before {
  content: "\e91e";
}
.icon-tick:before {
  content: "\e91f";
}
.icon-tick-round:before {
  content: "\e920";
}
.icon-toolkit:before {
  content: "\e921";
}








.navbar-bgd {
  padding: 25px 0 0 0;
  width: 100%;
  color: #fff;
  background: transparent; }

.navbar-ul {
  list-style: none;
  float: right;
  font-size: 20px; }

.navbar-li {
  float: left;
  padding: 0 5px;
  color: #fff;
  font-size: 16px; }

.app-name {
  padding: 20px 0; }

.cloud-menu-ul {
  list-style: none;
  padding: 0; }

.cloud-menu-li {
  float: left;
  padding: 0 20px;
  width: 170px;
  cursor: pointer;
  position: relative; }

.cloud-icon {
  font-size: 22px; }

.active-cloud .cloud-icon {
  color: #000; }

.navbar-backgroud {
  height: 254px;
  background: #32404f;
  position: absolute;
  width: 100%;
  z-index: -1; }

.cloud-menu-li:first-child::before, .cloud-menu-li:nth-child(2)::before, .cloud-menu-li:nth-child(3)::before {
  height: 11px;
  width: 1px;
  background: #6a7879;
  position: absolute;
  right: 0;
  bottom: 5px;
  content: ''; }

.user-select-input {
  background: transparent;
  border: 0;
  outline: 0; }

.logo-text {
  margin: 0; }

.cloud-name {
  font-size: 12px;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px; }

.active-cloud .cloud-name::after {
  position: absolute;
  content: "";
  bottom: -8px;
  border-radius: 10px;
  width: 27px;
  height: 4px;
  background-color: #12aaeb;
  left: 15px; }

.dfp-btn {
  width: 100%;
  border: 0;
  height: 54px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: #3f9ed0;
  padding: 16px;
  color: #fff; }

.btn-small {
  width: 100px;
  height: 28px;
  font-size: 1.1rem; }

.btn-large {
  width: 160px;
  height: 45px;
  font-size: 1.5rem; }

.group {
  position: relative;
  margin-bottom: 35px; }

.inputMaterial {
  font-size: 14px;
  color: #7e7e7e;
  padding: 5px 0;
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  border-bottom: 1px solid #9d9d9d; }

.inputMaterial:focus {
  outline: none; }

.inputMaterial:invalid {
  box-shadow: none; }

.inputMaterial:-moz-submit-invalid {
  box-shadow: none; }

.inputMaterial:-moz-ui-invalid {
  box-shadow: none; }

/* LABEL ======================================= */
.group label {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  text-transform: uppercase;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top: -8px;
  font-size: 10px;
  color: #639dc6; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #639dc6;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%; }

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.error-message {
  font-size: 10px;
  position: absolute;
  right: 0;
  color: #fb5353; }

.name-padding-left {
  padding: 0 0 0 10px; }

.name-padding-right {
  padding: 0 10px 0 0; }

.dfp-select-input {
  width: 100%;
  height: 30px;
  border: 0;
  margin-bottom: 35px;
  outline: 0;
  border-bottom: 1px solid #9d9d9d;
  background: transparent;
  color: #999999;
  font-size: 14px; }

.dfp-text-area {
  height: 33px;
  resize: none; }

.dfp-select-container {
  position: relative; }

.select-label {
  position: absolute;
  color: #999;
  top: -10px;
  font-size: 10px;
  text-transform: uppercase; }

.dfp-radio {
  width: 18px;
  float: left;
  margin: 0 10px 0 0;
  height: 18px;
  opacity: 0.6;
  border: 1px solid #505050;
  position: relative;
  border-radius: 50px; }
  .dfp-radio label {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    left: 0;
    border-radius: 50px; }
    .dfp-radio label:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 4px;
      left: 4px;
      background: #129fdd;
      opacity: 0;
      border-radius: 50px; }
  .dfp-radio input[type=radio] {
    visibility: hidden; }
    .dfp-radio input[type=radio]:checked + label:after {
      opacity: 1; }

.dfp-checkbox {
  width: 18px;
  float: left;
  margin: 0 10px 0 0;
  height: 18px;
  opacity: 0.6;
  border: 1px solid #505050;
  border-radius: 3px;
  position: relative; }
  .dfp-checkbox label {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px; }
    .dfp-checkbox label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 2px solid #129fdd;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
  .dfp-checkbox input[type=checkbox] {
    visibility: hidden; }
    .dfp-checkbox input[type=checkbox]:checked + label:after {
      opacity: 1; }

.dfp-radio-label {
  cursor: pointer;
  display: inline; }

.sec-error-message {
  font-size: 10px;
  right: 0;
  color: #fb5353; }

.dfp-header {
  margin: 0; }

.primary-header {
  font-size: 36px;
  font-weight: 900; }

.tertiary-header {
  color: #3d5a79;
  position: relative;
  display: inline-block; }

.tertiary-header-text {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    color: #3d5a79;
    line-height: 52px;
    border-bottom: 1px solid #3d5a79;
}

.tertiary-header::after {
  content: "";
  bottom: 1px;
  width: 100%;
  height: 1px;
  position: absolute;
  background: #639dc6; }

.quaternary-header-text {
  font-size: 21px;
  font-weight: 400;
  color: #153a61; }

.secondary-header-text {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400; }

.secondary-header {
  /*position: relative;
  margin: 0 0 0 13px;*/ 
      margin: -103px -46px;
}

.secondary-header::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 5px;
    height: 30px;
    width: 5px;
    background: #a0b751; }

.quinary-header-text {
  font-size: 30px;
  font-weight: 600; }

.cost-chart-container {
  background: #fff;
  padding: 10px 0;
  height: 500px; }

.cost-metrics-ul {
  list-style: none;
  padding: 0;
  border: 2px solid #ebebeb;
  border-radius: 50px; }

.cost-metrics-li {
  float: left;
  height: 100%;
  display: flex;
  align-items: center; }

.cost-metrics-menu {
  padding: 15px 0;
  display: flex;
  justify-content: center; }

.metrics-list-text {
  font-size: 12px;
  padding: 13px; }

.metrics-list-text:hover {
  background: #313fa0;
  color: #fff;
  border-radius: 25px; }

.metrics-text-active {
  background: #313fa0;
  color: #fff;
  border-radius: 25px; }

.chart-img {
  width: 100%; }

.status-chart-container {
  background: #232323;
  color: #fff;
  padding: 10px 0; }

.usage-chart-container {
  background: #fff;
  padding: 10px 0; }

.status-usage-chart-container {
  margin: 15px 0 13px 0; }

.instance-details-container {
  height: 500px; }

.instace-details-chart {
  background: #fff;
  padding: 10px 0; }

.instance-list {
  height: 508px;
  background: #000;
  color: #fff; }

.instance-list-wrapper {
  height: 100px;
  padding: 0 20px; }

.instance-name {
  font-size: 18px; }

.instance-name-section {
  padding: 22px 0; }

.instance-ip-section {
  padding: 50px 0 0 0; }

.instance-list-active {
  background: #757575;
  position: relative; }

.instance-list-active::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #757575;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 40px; }

.instance-list-section {
  border-bottom: 1px solid #403f3f;
  height: 102%; }

.container {
  width: 100% !important; }

.row {
  margin: 0 !important; }

p {
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  background: #e6ebf3;
  font-family: Lato; }

.zero-padding {
  padding: 0 !important; }

a:-webkit-any-link, a:hover {
  text-decoration: none; }

.cloud-menu-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  padding-top: 20px; }

.login-container {
  background: #1a2027;
  height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  align-items: center;
  align-items: -webkit-center; }

.login-widget-container {
  width: 70%;
  height: 438px;
  /*background-color: #153a61;
  color: #fff;*/
  border-bottom:5px solid #32404f;
  padding: 60px;
      background-color: #fff;
    color: #000;
    margin:100px;
  box-shadow: 0 0 21px rgba(12, 51, 92, 0.04);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center; }

.login-field-container {
  /*width: 34.62vw;*/
  height: 569px;
  background-color: white;
  box-shadow: 0 0 21px rgba(12, 51, 92, 0.04);
  padding: 40px 80px; }

.login-wrapper-size {
  /*width: 35.065vw;*/
  /*height: 569px;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  align-items: center;
  align-items: -webkit-center; }

.login-widget-content {
  text-align: center;
  width: 100%;
}

.login-image-container {
  margin: 45px 0; }

.login-ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.login-text {
  font-size: 22px;
  color: #9d9d9d;
  font-weight: 300;
  display: inline-block; }

.login-li {
  float: left;
  width: 100px;
  text-align: center;
  position: relative;
  cursor: pointer; }

.login-li:first-child::after {
  content: "";
  height: 25px;
  width: 1px;
  background: #959595;
  top: 5px;
  opacity: 0.6;
  position: absolute;
  right: 0; }

.login-header {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center; }

.login-field-section {
  padding: 70px 0 30px 0; }

.login-help {
  padding: 50px 0 0 0;
  text-align: center; }

.login-help-text {
  font-size: 12px;
  font-weight: 700; }

.login-help-link {
  color: #129fdd;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px; }

.login-widget-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px; }

.login-list-active {
  color: #153a61;
  font-weight: 400;
  position: relative; }

.login-list-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -7px;
  left: 0;
  height: 1px;
  background: #639dc6; }

.register-field-section {
  padding: 30px 0 10px 0; }

.flex-right {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: flex-end;
  justify-content: -webkit-flex-end; }

.dfp-loader {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  opacity: .8;
  top: 0;
  z-index: 11; }

.loader-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  position: fixed;
  top: 0;
  z-index: 111; }

.loader-img {
  width: 50px; }

.loader-container {
  display: none; }

.login-switch-container {
  position: relative; }

.login-badge {
  position: absolute;
  top: 15px;
  right: 0; }

.fixed-navbar-bg {
  height: 300px;
  background: #32404f;
  position: absolute;
  width: 100%;
  z-index: -1; }

.cloud-onboard-navbar {
  height: 100px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  align-items: center;
  align-items: -webkit-center; }

.dfp-logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0; }

.cloud-onboard-section {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center; }

.cloud-onboard-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  height: 600px;
  background: #fff;
  width: 60.76vw; }

.setup-cloud-container {
  width: 61.44%; }

.cloud-onboard-heading {
  margin-bottom: 50px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center; }

.cloud-list-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

.cloud-list-ul::after {
  position: absolute;
  content: '';
  right: 0;
  height: 96%;
  width: 5px;
  background: #ccc;
  top: 0; }

.cloud-list-li {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  cursor: pointer;
  height: 100px;
  position: relative; }

.cloud-list-active::after {
  position: absolute;
  content: '';
  right: 0;
  z-index: 11;
  height: 85%;
  width: 5px;
  background: #000;
  top: 0px; }

.cloud-list-name {
  margin: 10px 0;
  color: #295786;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase; }

.dfp-menu {
  position: absolute;
  left: 0;
  top: 247px;
  z-index: 11;
  width: 65px;
  height: 244px;
  background-color: #295786;
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.23);
  border-right: 5px solid #fff; }

.dfp-menu-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%; }

.dfp-menu-li {
  font-size: 20px;
  cursor: pointer;
  color: #537fb0;
  position: relative;
  height: 25%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center; }

.dfp-menu-li::after {
  left: 15%;
  bottom: 0;
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: #537fb0; }

.dfp-menu-li:last-child::after {
  display: none; }

.dfp-menu-active {
  color: #fff; }

.collapsible-container {
  background: #fff;
  width: 55.63vw;
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1); }

.panel-group .panel + .panel {
  margin: 0 !important; }

.collapse-content {
  border-radius: 0 !important;
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1); }

.collapse-title {
  padding: 0 20px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  align-items: center;
  align-items: -webkit-center; }

.collapse-title-text {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 300; }

.collapsed-section {
  padding: 0; }

.project-input-container {
  padding: 40px 30px 20px 30px; }

.next-section {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px 0 0; }

.next-section-text {
  color: #3f9ed0;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }

.add-new-text {
  cursor: pointer;
  color: #129fdd;
  font-size: 12px;
  font-weight: 700; }

.add-new-padding {
  padding: 10px 0; }

.select-platform-ul {
  padding: 0;
  list-style: none; }

.select-platform-li {
  float: left;
  width: 100px; }

.select-platform-label {
  color: #7e7e7e;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px 15px 0px; }

.view-stack-padding {
  padding: 15px 0px; }

.set-devops-li {
  padding: 0 30px 0 0;
  float: left; }

.collpsible-project-details {
  padding: 20px 0; }

.edit-project-icon {
  position: absolute;
  right: 23px; }

.edit-project-icon:nth-child(1) {
  display: none; }

.success-img {
  margin-top: -3px; }

#collapse-title-one {
  display: none; }

.right-chev-icon {
  margin-left: 2px;
  font-size: 11px; }

.saved-details-one, .saved-details-two, .saved-details-three, .saved-details-four {
  display: none; }

.project-details-container {
  height: 250px;
  background: #fff;
  padding: 20px 13px 20px 0;
  margin: 15px 0; }

.project-details-input {
  padding: 50px 50px 0 50px; }

.build-overview-container {
  height: 570px;
  background: #fff;
  margin: 30px 0;
  padding: 20px 13px 20px 0; }

.build-overview-content {
  padding: 20px; }

.build-overview-ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 15px;
  width: 188px;
  height: 427px;
  opacity: 0.9;
  background-color: #eee; }

.build-overview-li {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  height: 33.33%;
  border-radius: 15px;
  opacity: 0.9;
  background-color: #eee;
  position: relative; }

.build-overview-li:nth-child(1)::after, .build-overview-li:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 10px;
  background-image: linear-gradient(to right, #295786 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 7px 3px;
  background-repeat: repeat-x; }

.build-overview-list {
  float: left;
  padding: 20px; }

.build-overview-chart {
  float: left; }

.build-overview-list-text {
  color: #295786;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase; }

.build-overview-list-text1 {
  color: #295786;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

.chart-name {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }

.build-overview-chart {
  padding: 20px; }

.chart-image {
  width: 100%;
  margin: 10px 0 0 10px; }

/*Chart Style Here*/
.chart-padzero {
  padding: 0 !important; }

.role-icon {
  position: absolute;
  top: 10px;
  color: #9d9d9d;
  right: 20px;
  font-size: 10px;
  cursor: pointer; }

.select-role-container {
  display: none;
  position: absolute;
  width: 340px;
  padding: 0 30px;
  height: 191px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 7.3px 0.7px rgba(0, 0, 0, 0.15); }

.role-heading {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  opacity: 0.78;
  color: #4d4d4d;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  height: 60px;
  border-bottom: 1px solid #e9e9e9; }

.role-ul {
  padding: 10px 0;
  list-style: none; }

.role-li {
  padding: 5px 0; }

.role-create-button {
  width: 222px;
  margin: auto; }

.members-container {
  margin: 20px 15px;
  width: 242px;
  height: 45px;
  opacity: 0.5;
  border: 1px solid #8492af;
  float: left; }

.members-mail-id {
  color: #103e88;
  font-size: 12px;
  font-weight: 700; }

.members-role-name {
  color: #a5a5a5;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase; }

.members-img {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center;
  color: white;
  font-size: 23px;
  font-weight: 300;
  line-height: 15px;
  width: 45px;
  height: 44px;
  background-color: #103e88;
  float: left; }

.members-details {
  width: 194px;
  position: relative;
  float: left;
  padding: 5px 5px; }

.edit-role-container {
  position: absolute;
  right: 0; }

.edit-role-icon {
  float: left;
  margin: 0 5px; }

.menbers-list {
  padding: 25px 15px; }

.setup-devops-container {
  padding: 45px 45px 0 45px; }

.none-txt {
  opacity: 0.4;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px; }

#collapse-devops-one, #collapse-devops-one {
  display: none; }

.saved-devops-one, .saved-devops-two {
  display: none; }

.selected-devops-text {
  cursor: pointer;
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.credentials-ul {
  position: relative;
  padding: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  height: 40px; }

.credentials-ul::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #eee; }

.selected-devops-li {
  cursor: pointer;
  position: relative;
  float: left;
  height: 100%;
  width: 33.33%;
  justify-content: center;
  align-items: center;
  display: flex; }

.selected-devops-li:last-child::after {
  display: none; }

.selected-devops-li::after {
  position: absolute;
  content: "";
  right: 0;
  top: 15px;
  width: 1px;
  height: 12px;
  opacity: 0.5;
  background-color: #bdbdbd; }

.enter-credentials-container {
  padding: 20px; }

.devops-list-active {
  color: #12aaeb;
  position: relative; }

.devops-list-active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  z-index: 11;
  border-radius: 10px;
  left: 0;
  height: 4px;
  background-color: #12aaeb;
  width: 100%; }

.devops-input-container {
  height: 330px; }

.devops-content-text {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 300; }

.devops-icon {
  height: 300px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but     mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+     */
  justify-content: -webkit-center;
  justify-content: center;
  align-items: center;
  align-items: -webkit-center; }

.devops-content {
  width: 80%;
  text-align: center; }

.devops-checkbox-label {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 700; }

.devops-label-container {
  display: inline-block;
  position: relative;
  top: -10px; }

.devops-label-icon {
  font-size: 30px; }

.devops-label-span {
  color: #7e7e7e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700; }

.devops-label-name {
  text-transform: uppercase; }

.devops-input-field {
  padding: 15px 0 0 0; }
.glyphicon-cloud {
    font-size:25px;
}
.loginBoxes {
    /*padding-top: 50px;*/
        background: #1a2027;
        margin-top:-40px;
}
/*Css for left verticle menu*/
body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /*.main{
    padding: 10px 10px 0 10px;
  }*/

 @media (min-width: 765px) {

    /*.main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }*/

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -145px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  /*@media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }*/

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
.leftMenu {
    margin: 180px auto;
    padding:0px;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default {
    background-color: #153a61;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    cursor: pointer;
    color:#fff;
}
select {
    color: black;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
        border-radius: 4px;
}
.loginBoxes .login-widget-container {
    padding: 50px;
}
.extraContent {
    padding-right:0px;
        background: #1a2027;
}
.loginFieldContent {
    padding-left:0px;
        background: #1a2027;
}
.extraContent .login-widget-container {
        padding: 50px;
    margin: 150px;
    margin-right: 0px;
    margin-left:200px;
        background-color: #153a61;
    color: #fff;
}
.loginBoxes .loginFieldContent .login-field-container {
    /*margin: 150px;
    margin-left: 0px;
    margin-top: 0px;*/
        margin: 85px;
    margin-left: 0px;
    margin-right: 170px;
}
.container {
    padding:0px;
}
.navbar-default .navbar-nav > li > a {
    padding-right: 22px;
}
.btnContainer .btn{
    width: 50%;
    height: 39px;
    padding: 10px;
}
.addAccount .login-widget-container{
    height: auto;
}
.addAccount img {
    width: 70px;
    height: 39px;
}
.dashboardContent .login-widget-container {
    width: auto; 
    height: auto; 
    padding: 0px;
}
.dashboardContent .secondary-header {
    margin:0px;
}
.dashboardContent .build-overview-ul,.dashboardContent .build-overview-ul {
    margin:0px;
    width:auto;
}
.dashboardContent .build-overview-container {
        width: 1021px;
}
.dashboardContent .secondary-header-text {
        text-align: left;
        padding-left: 12px;
    padding-top: 6px;
}
.dashboardContent .secondary-header::before {
    top:auto;
    left: 115px;
}
.leftMenu .navbar {
    background-color: #295786;
}
.interactionContainer .login-widget-container {
    /*width:auto;
    padding:0px;*/
}
.project-chart-container {
        margin-top: 95px;
}
.build-overview-container {
        border-bottom: 5px solid #32404f;
}
.build-overview-container:last-child {
    border-bottom:none;
}