﻿<div class="fixed-navbar-bg"></div>
<div class="col-lg-2 col-md-2 col-sm-2 leftMenu">
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/content">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class=""><a href="#/interactions">Interactions<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                    <li class=""><a>Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a>Reports<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                    <li class="active"><a href="#/register">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 addAccount">
    <div class="login-wrapper-size">
        <div class="login-widget-container">
            <div class="login-widget-content">               
                   
                        <div class="cloud-onboard-heading">
                            
                                <h4 class="tertiary-header-text">Add Your Account</h4>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="cloud-list-container">
                                    <ul class="cloud-list-ul">
                                        <li class="cloud-list-li cloud-list-active">
                                            <div class="text-center">
                                                <img src="../img/SAP.jpg" />
                                                <p class="cloud-list-name">SAP</p>
                                            </div>
                                        </li>
                                        <li class="cloud-list-li ">
                                            <div class="text-center">

                                                <img src="../img/SalesForce.png" />
                                                <p class="cloud-list-name">salesforce</p>
                                            </div>
                                        </li>
                                        <li class="cloud-list-li ">
                                            <div class="text-center">

                                                <img src="../img/oracle.png" />
                                                <p class="cloud-list-name">Oracle</p>
                                            </div>
                                        </li>
                                        <li class="cloud-list-li">
                                            <div class="text-center">

                                                <img src="../img/microsoft dynamics.jpg" />
                                                <p class="cloud-list-name">MSDynamics</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div><h4 class="quaternary-header-text">Setup account</h4></div><br>
                                <div>
                                    <div class="group">
                                        <input type="text" class="inputMaterial" required="" name="accesskey"><span class="highlight"></span>
                                        <div>
                                            <span class="error-message">
                                            </span>
                                        </div><span class="bar"></span>
                                        <label>Login id</label>
                                    </div>
                                </div><div>
                                    <div class="group">
                                        <input type="text" class="inputMaterial" required="" name="secretKey">
                                        <span class="highlight"></span><div>
                                            <span class="error-message"></span>
                                        </div><span class="bar"></span><label>Password</label>
                                    </div>
                                </div><div>
                                    <!--<div class="group">
                                        <div class="select-label"></div>
                                        <select class="dfp-select-input" name="region">
                                            <option>us-east-1</option>
                                            <option>us-east-2</option>
                                            <option>ap-south-1</option>
                                            <option>ap-northeast-1</option>
                                            <option>ap-northeast-2</option>
                                            <option>ap-southeast-1</option>
                                            <option>ap-southeast-2</option>
                                            <option>eu-west-1</option>
                                            <option>eu-central-1</option>
                                            <option>us-west-1</option>
                                            <option>us-west-2</option>
                                            <option>sa-east-1</option>
                                        </select>
                                        <span class="highlight"></span>
                                        <div><span class="error-message"></span></div><span class="bar"></span>
                                    </div>-->
                                </div>
                                <!--<p class="login-help-link">
                                    <a href="#" target="_blank">FIND MY ACCESS KEY / SECRET KEY?</a>
                                </p>-->
                            <br>
                                <button class="dfp-btn">ADD</button><br><br></div>
                        </div>                 
                

            </div>
        </div>
    </div>
</div>

