﻿<div class="fixed-navbar-bg"></div>




<div class="col-lg-1 col-md-1 col-sm-1 leftMenu">
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/content">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class=""><a href="#/interactions">Interactions<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                    <li class=""><a>Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a >Reports<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                    <li><a href="#/register">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="col-lg-11 col-md-11 col-sm-11 dashboardContent">
    <div class="login-wrapper-size">
        <div class="login-widget-container">
            <div class="login-widget-content">
                <!--<h1 class="dfp-header primary-header">I'm on content page</h1>

                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                <p class="login-widget-text">See real time progress and manage, integrate  and optimize cloud, devops  ERP services and much more from any device anywhere.</p>-->
                <!--<div class="project-details-container"><div class="secondary-header"><h4 class="secondary-header-text">Project Details</h4></div><div class="project-details-input"><div class="row"><div class="col-lg-3 col-md-3"><div><div class="group"><input type="number" class="inputMaterial" required=""><span class="highlight"></span><div><span class="error-message"></span></div><span class="bar"></span><label>project budget</label></div></div></div><div class="col-lg-3 col-md-3"></div><div class="col-lg-3 col-md-3"><div class="dfp-datepicker"><div class="react-datepicker__input-container"><input type="text" class="" value="11/16/2016"></div></div></div><div class="col-lg-3 col-md-3"><div class="dfp-datepicker"><div class="react-datepicker__input-container"><input type="text" class="" value="11/16/2016"></div></div></div></div></div><div class="next-section"><p class="next-section-text">Update &gt;</p></div></div>-->
                <div class="build-overview-container"><div class="secondary-header"><h4 class="secondary-header-text">Interactions Overview</h4></div><div class="build-overview-content row"><div class="build-overview-list chart-padzero col-lg-2 col-md-2 col-sm-2"><ul class="build-overview-ul"><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">88%</p><p class="build-overview-list-text1">Positive</p></div></li><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">14</p><p class="build-overview-list-text1">Min/Interaction<br />(In Avg)</p></div></li><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">95%</p><p class="build-overview-list-text1">Satisfaction</p></div></li></ul></div><div class="build-overview-chart chart-padzero col-lg-10 col-md-10 col-sm-10"><div class="project-chart-container"><p class="chart-name">Interactions per day</p><div id="reactgooglegraph-6" style="height: 200px; width: 100%;"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 809px; height: 200px;"><div aria-label="A chart." style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"><svg width="1000" height="200" aria-label="A chart." style="overflow: hidden;"><defs id="defs"><clipPath id="_ABSTRACT_RENDERER_ID_2"><rect x="93" y="38" width="624" height="124"></rect></clipPath></defs><rect x="0" y="0" width="809" height="200" stroke="none" stroke-width="0" fill="#ffffff"></rect><g><rect x="730" y="38" width="66" height="97" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><rect x="730" y="38" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="49.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">PwC App</text></g><rect x="730" y="38" width="26" height="13" stroke="none" stroke-width="0" fill="#3366cc"></rect></g><g><rect x="730" y="59" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="70.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">PwC Site</text></g><rect x="730" y="59" width="26" height="13" stroke="none" stroke-width="0" fill="#dc3912"></rect></g><g><rect x="730" y="80" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="91.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Facebook</text></g><rect x="730" y="80" width="26" height="13" stroke="none" stroke-width="0" fill="#ff9900"></rect></g><g><rect x="730" y="101" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="112.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Own App</text></g><rect x="730" y="101" width="26" height="13" stroke="none" stroke-width="0" fill="#109618"></rect></g><g><rect x="730" y="122" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="133.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Own Site</text></g><rect x="730" y="122" width="26" height="13" stroke="none" stroke-width="0" fill="#990099"></rect></g></g><g><rect x="93" y="38" width="624" height="124" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g clip-path="url(http://localhost:3000/#_ABSTRACT_RENDERER_ID_2)"><g><rect x="93" y="161" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="130" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="100" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="69" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="38" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect></g><g><rect x="113" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="217" y="85" width="12" height="76" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="321" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="425" y="122" width="12" height="39" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="529" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="632" y="122" width="13" height="39" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="126" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="230" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="334" y="128" width="12" height="33" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="438" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="542" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="646" y="144" width="12" height="17" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="139" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="243" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="347" y="147" width="12" height="14" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="451" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="555" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="659" y="73" width="12" height="88" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="152" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="256" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="360" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="464" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="568" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="672" y="82" width="12" height="79" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="165" y="85" width="13" height="76" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="269" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="373" y="91" width="12" height="70" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="477" y="97" width="12" height="64" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="581" y="85" width="12" height="76" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="685" y="51" width="12" height="110" stroke="none" stroke-width="0" fill="#990099"></rect></g><g><rect x="93" y="161" width="624" height="1" stroke="none" stroke-width="0" fill="#333333"></rect></g></g><g></g><g><g><text text-anchor="middle" x="145.41666666666666" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">012 Oct 16</text></g><g><text text-anchor="middle" x="249.25" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">17 Oct 16</text></g><g><text text-anchor="middle" x="353.0833333333333" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">22 Oct 16</text></g><g><text text-anchor="middle" x="456.91666666666663" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">27 Nov 16</text></g><g><text text-anchor="middle" x="560.75" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">01 Nov 16</text></g><g><text text-anchor="middle" x="664.5833333333333" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">06 Nov 16</text></g><g><text text-anchor="end" x="80" y="166.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">0</text></g><g><text text-anchor="end" x="80" y="135.3" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">10</text></g><g><text text-anchor="end" x="80" y="104.55" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">20</text></g><g><text text-anchor="end" x="80" y="73.8" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">30</text></g><g><text text-anchor="end" x="80" y="43.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">40</text></g></g></g><g><g><text text-anchor="middle" x="405" y="194.05" font-family="Arial" font-size="13" font-style="italic" stroke="none" stroke-width="0" fill="#222222">Days</text><rect x="93" y="183" width="624" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><g><text text-anchor="middle" x="37.55" y="100" font-family="Arial" font-size="13" font-style="italic" transform="rotate(-90 37.55 100)" stroke="none" stroke-width="0" fill="#222222">Commits</text><path d="M26.499999999999996,162L26.500000000000004,38L39.50000000000001,38L39.5,162Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Month</th><th>Day1</th><th>Day2</th><th>Day3</th><th>Day4</th><th>Day5</th></tr></thead><tbody><tr><td>012 Oct 16</td><td>15</td><td>10</td><td>20</td><td>15</td><td>25</td></tr><tr><td>17 Oct 16</td><td>25</td><td>15</td><td>20</td><td>10</td><td>10</td></tr><tr><td>22 Oct 16</td><td>15</td><td>11</td><td>5</td><td>20</td><td>23</td></tr><tr><td>27 Nov 16</td><td>13</td><td>10</td><td>15</td><td>20</td><td>21</td></tr><tr><td>01 Nov 16</td><td>15</td><td>10</td><td>20</td><td>15</td><td>25</td></tr><tr><td>06 Nov 16</td><td>13</td><td>6</td><td>29</td><td>26</td><td>36</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 819px; white-space: nowrap; font-family: Arial; font-size: 13px;">Day5</div><div></div></div></div></div></div></div></div>
                <div class="build-overview-container"><div class="secondary-header"><h4 class="secondary-header-text">Transactions Overview</h4></div><div class="build-overview-content row"><div class="build-overview-list chart-padzero col-lg-2 col-md-2 col-sm-2"><ul class="build-overview-ul"><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">75%</p><p class="build-overview-list-text1">Conversion</p></div></li><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">7,200</p><p class="build-overview-list-text1">Avg Policy Value <br />(in Rupees)</p></div></li><li class="build-overview-li"><div class="text-center"><p class="build-overview-list-text">45%</p><p class="build-overview-list-text1">New Customer</p></div></li></ul></div><div class="build-overview-chart chart-padzero col-lg-10 col-md-10 col-sm-10"><div class="project-chart-container"><p class="chart-name">Transactions  per day</p><div id="reactgooglegraph-6" style="height: 200px; width: 100%;"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 809px; height: 200px;"><div aria-label="A chart." style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"><svg width="1000" height="200" aria-label="A chart." style="overflow: hidden;"><defs id="defs"><clipPath id="_ABSTRACT_RENDERER_ID_2"><rect x="93" y="38" width="624" height="124"></rect></clipPath></defs><rect x="0" y="0" width="809" height="200" stroke="none" stroke-width="0" fill="#ffffff"></rect><g><rect x="730" y="38" width="66" height="97" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><rect x="730" y="38" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="49.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">PwC App</text></g><rect x="730" y="38" width="26" height="13" stroke="none" stroke-width="0" fill="#3366cc"></rect></g><g><rect x="730" y="59" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="70.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">PwC Site</text></g><rect x="730" y="59" width="26" height="13" stroke="none" stroke-width="0" fill="#dc3912"></rect></g><g><rect x="730" y="80" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="91.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Facebook</text></g><rect x="730" y="80" width="26" height="13" stroke="none" stroke-width="0" fill="#ff9900"></rect></g><g><rect x="730" y="101" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="112.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Own App</text></g><rect x="730" y="101" width="26" height="13" stroke="none" stroke-width="0" fill="#109618"></rect></g><g><rect x="730" y="122" width="66" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g><text text-anchor="start" x="761" y="133.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">Own Site</text></g><rect x="730" y="122" width="26" height="13" stroke="none" stroke-width="0" fill="#990099"></rect></g></g><g><rect x="93" y="38" width="624" height="124" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g clip-path="url(http://localhost:3000/#_ABSTRACT_RENDERER_ID_2)"><g><rect x="93" y="161" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="130" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="100" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="69" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="93" y="38" width="624" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect></g><g><rect x="113" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="217" y="85" width="12" height="76" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="321" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="425" y="122" width="12" height="39" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="529" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="632" y="122" width="13" height="39" stroke="none" stroke-width="0" fill="#3366cc"></rect><rect x="126" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="230" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="334" y="128" width="12" height="33" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="438" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="542" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="646" y="144" width="12" height="17" stroke="none" stroke-width="0" fill="#dc3912"></rect><rect x="139" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="243" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="347" y="147" width="12" height="14" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="451" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="555" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="659" y="73" width="12" height="88" stroke="none" stroke-width="0" fill="#ff9900"></rect><rect x="152" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="256" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="360" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="464" y="101" width="12" height="60" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="568" y="116" width="12" height="45" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="672" y="82" width="12" height="79" stroke="none" stroke-width="0" fill="#109618"></rect><rect x="165" y="85" width="13" height="76" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="269" y="131" width="12" height="30" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="373" y="91" width="12" height="70" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="477" y="97" width="12" height="64" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="581" y="85" width="12" height="76" stroke="none" stroke-width="0" fill="#990099"></rect><rect x="685" y="51" width="12" height="110" stroke="none" stroke-width="0" fill="#990099"></rect></g><g><rect x="93" y="161" width="624" height="1" stroke="none" stroke-width="0" fill="#333333"></rect></g></g><g></g><g><g><text text-anchor="middle" x="145.41666666666666" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">012 Oct 16</text></g><g><text text-anchor="middle" x="249.25" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">17 Oct 16</text></g><g><text text-anchor="middle" x="353.0833333333333" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">22 Oct 16</text></g><g><text text-anchor="middle" x="456.91666666666663" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">27 Nov 16</text></g><g><text text-anchor="middle" x="560.75" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">01 Nov 16</text></g><g><text text-anchor="middle" x="664.5833333333333" y="177.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#222222">06 Nov 16</text></g><g><text text-anchor="end" x="80" y="166.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">0</text></g><g><text text-anchor="end" x="80" y="135.3" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">10</text></g><g><text text-anchor="end" x="80" y="104.55" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">20</text></g><g><text text-anchor="end" x="80" y="73.8" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">30</text></g><g><text text-anchor="end" x="80" y="43.05" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">40</text></g></g></g><g><g><text text-anchor="middle" x="405" y="194.05" font-family="Arial" font-size="13" font-style="italic" stroke="none" stroke-width="0" fill="#222222">Days</text><rect x="93" y="183" width="624" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><g><text text-anchor="middle" x="37.55" y="100" font-family="Arial" font-size="13" font-style="italic" transform="rotate(-90 37.55 100)" stroke="none" stroke-width="0" fill="#222222">Commits</text><path d="M26.499999999999996,162L26.500000000000004,38L39.50000000000001,38L39.5,162Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Month</th><th>Day1</th><th>Day2</th><th>Day3</th><th>Day4</th><th>Day5</th></tr></thead><tbody><tr><td>012 Oct 16</td><td>15</td><td>10</td><td>20</td><td>15</td><td>25</td></tr><tr><td>17 Oct 16</td><td>25</td><td>15</td><td>20</td><td>10</td><td>10</td></tr><tr><td>22 Oct 16</td><td>15</td><td>11</td><td>5</td><td>20</td><td>23</td></tr><tr><td>27 Nov 16</td><td>13</td><td>10</td><td>15</td><td>20</td><td>21</td></tr><tr><td>01 Nov 16</td><td>15</td><td>10</td><td>20</td><td>15</td><td>25</td></tr><tr><td>06 Nov 16</td><td>13</td><td>6</td><td>29</td><td>26</td><td>36</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 210px; left: 819px; white-space: nowrap; font-family: Arial; font-size: 13px;">Day5</div><div></div></div></div></div></div></div></div>
    
            </div>
        </div>
    </div>
</div>

