﻿<div class="loginBoxes">
    <div class="col-lg-6 col-md-6 col-sm-6 extraContent">
        <div class="login-wrapper-size">
            <div class="login-widget-container">
                <div class="login-widget-content">
                    <h3 class="dfp-header primary-header">Make it Easy</h3>
                    <div class="login-image-container">
                        <img src="../img/vector-smart-object1.png" />
                    </div>
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    <p class="login-widget-text">See real time progress and manage, integrate  and optimize cloud, devops  ERP services and much more from any device anywhere.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 loginFieldContent">
        <div class="login-field-container">
            <div class="login-header">
                <ul class="login-ul">
                    <li class="login-li"><p class="login-text login-list-active">Sign In</p></li>
                    <li class="login-li"><p class="login-text ">Register</p></li>
                </ul>
            </div>
            <div class="login-switch-container">
                <div class="login-badge"><span class="badge hidden"></span></div>
                <div class="login-field-section">
                    <div>
                        <div class="group">
                            <input type="text" class="inputMaterial" required="" name="email"><span class="highlight"></span><div><span class="error-message"></span></div><span class="bar"></span><label>Email Id</label>
                        </div>
                    </div>
                    <div>
                        <div class="group">
                            <input type="password" class="inputMaterial" required="" name="password"><span class="highlight"></span><div><span class="error-message"></span></div>
                            <span class="bar"></span><label>Password</label>
                        </div>
                    </div>
                </div>
                <a href="#/content" class="dfp-btn btn">sign in</a>
                <div class="login-help">
                    <p class="login-help-text">Can't access your account? <span class="login-help-link">GET HELP</span></p>
                </div>
            </div>
        </div>
    </div>
</div>