﻿<div class="fixed-navbar-bg"></div>
<div class="col-lg-2 col-md-2 col-sm-2 leftMenu">
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/content">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class="active"><a href="#/interactions">Interactions<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                    <li><a>Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a>Reports<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                    <li><a href="#/register">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 interactionContainer">
    <div class="login-wrapper-size">
        <div class="login-widget-container">
            <div class="login-widget-content">
                <!--<div class="col-lg-2 col-md-2 col-sm-2 intentContainer">
                    <h4 class="quaternary-header-text">Intent</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 ExpressionsContainer">
                    <h4 class="quaternary-header-text">Expressions</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 EntitiesContainer">
                    <h4 class="quaternary-header-text">Entities</h4>
                </div>-->
                <h2>Work in progress</h2>
            </div>
        </div>
    </div>
</div>

