﻿<div class="fixed-navbar-bg"></div>
<div class="col-lg-2 col-md-2 col-sm-2 leftMenu">
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#/content">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class=""><a href="#/interactions">Interactions<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                    <li class=""><a>Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a>Reports<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                    <li class="active"><a href="#/register">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="col-lg-10 col-md-10 col-sm-10">
    <div class="login-wrapper-size">
        <div class="login-widget-container">
            <div class="login-widget-content">
                <div class="col-lg-12 col-md-12 col-sm-12 secondary-header">
                    <h4 class="secondary-header-text pull-left">Industry Detail</h4>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4>Industry</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="selectpicker">
                            <option>Telecom</option>
                            <option>Auto</option>
                            <option>Insurance</option>
                        </select>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <span>|</span><br /><span>|</span><br /><span>|</span><br /><span>|</span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4>Products</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="selectpicker">
                            <option>Life</option>
                            <option>Car</option>
                            <option>Property</option>
                            <option>Health</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 btnContainer">
                        <br /><br /><br /><br />
                        <a href="#/registerConfirmation" class="dfp-btn btn pull-right">Submit</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

