﻿        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="login-wrapper-size">
                <div class="login-widget-container">
                    <div class="login-widget-content">
                        <h1 class="dfp-header primary-header">I'm 2nd page</h1>
                        <div class="login-image-container">
                            <img src="../images/vector-smart-object1.png" />
                        </div>
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                        <p class="login-widget-text">See real time progress and manage, integrate  and optimize cloud, devops  ERP services and much more from any device anywhere.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!--<div class="login-field-container">
                <div class="login-header">
                    <ul class="login-ul">
                        <li class="login-li"><p class="login-text login-list-active">Sign In</p></li>
                        <li class="login-li"><p class="login-text ">Register</p></li>
                    </ul>
                </div>
                <div class="login-switch-container">
                    <div class="login-badge"><span class="badge hidden"></span></div>
                    <div class="login-field-section">
                        <div>
                            <div class="group">
                                <input type="text" class="inputMaterial" required="" name="email"><span class="highlight"></span><div><span class="error-message"></span></div><span class="bar"></span><label>Email Id</label>
                            </div>
                        </div><div>
                            <div class="group">
                                <input type="password" class="inputMaterial" required="" name="password"><span class="highlight"></span><div><span class="error-message"></span></div>
                                <span class="bar"></span><label>Password</label>
                            </div>
                        </div>
                    </div><button class="dfp-btn">sign in</button>
                    <div class="login-help">
                        <p class="login-help-text">Can't access your account? <span class="login-help-link">GET HELP</span></p>
                    </div>
                </div>
            </div>-->
        </div>















































<!--<p class="text-info">
    Welcome to the Angular Store.<br />
    Please select the products you want and add them to your shopping cart.<br />
    When you are done, click the shopping cart icon to review your order and check out.
</p>

<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search" >
        <td class="tdCenter"><img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}" /></td>
        <td>
            <a href="#/products/{{product.sku}}"><b>{{product.name}}</b></a><br />
            {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                add to cart
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>-->
